html {
  font-size: 100%;
  font-family: sans;
}

select, textarea, input, button {
  font: inherit;
}

body {
  background-color: #F0F0F0;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: blue;
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#site-header {
  grid-column: 2;
}

#greeter {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

#main-content {
  display: flex;
  align-items: flex-start;
}

nav {
  display: inline-block;
  margin: 1rem;
}

main {
  display: inline-block;
  margin: 1rem;
}

nav ul {
  padding: 0px;
}

nav ul li {
  list-style: none;
}

label {
  padding-right: 0.5rem;
}

.contentform {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4px;
}

.formlabel {
  grid-column: 1;
}

.formvalue {
  grid-column: 2;
}

.formbutton {
  grid-column: 1 / -1;
}

#edit-delete-buttons button {
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}

.htmx-indicator{
  opacity:0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
  opacity:1
}
.htmx-request.htmx-indicator{
  opacity:1
}